{% extends 'baseWithNav.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset("assets/css/userNew.css")}}">
{% endblock %}
{% block body %}
<h2>Editer un  utilisateur</h2>
{{ form_start(form,  { attr: {novalidate: 'novalidate'}} ) }}
<fieldset >
    <legend>Informations personnelles</legend>
        {{ form_widget(form.gender) }}
        {{ form_widget(form.firstname) }}
        {{ form_widget(form.lastname) }}
        {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_RH")%}
        {{ form_row(form.description, {label: "A propos de " ~ user.firstname, placeholder: "A propos de vous " ~ user.firstname}) }}
        {% endif %}
</fieldset>
        {# {% if is_granted(ROLE_ADMIN) or is_granted(ROLE_RH)%} #}

  <fieldset>
    <legend>Avatar actuel</legend>
    <div class="text-center">{{ user | avatar |raw }}</div>
          {{ form_row(form.uploadedFile) }}
    </fieldset>
    
        <fieldset >
    <legend>Signature</legend>

  <div class="sigPad" id="linear" >
    <div class="sig sigWrapper current">
     <div class="typed" style="display: none;"></div>
      <canvas class="pad form-control " width="400" height="250"></canvas>

        {{ form_widget(form.signature) }}
     <div class="clearButton" ><a href="#clear">Effacer</a></div>
  </div>
  </div>
</fieldset>

<fieldset >
    <legend>Informations du compte</legend>
        {{ form_widget(form.username) }}
        {{ form_errors(form.username) | join(", ") | raw}}
        <div class="d-flex">
        {{ form_widget(form.password, {"attr" : {"value" : user.password}} )}}
        <button class="btn btn-info newPwd">Générer</button>
        </div>
        {{ form_widget(form.roles) }}

        </div>
        </div>
        </div>
</fieldset>

        <button class="btn btn-success d-block col-6 p-3 my-5 m-auto" type="submit">Valider</button>

{{ form_end(form) }}
{% endblock %}

{% block javascripts %}
  <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/json2/20160511/json2.min.js" integrity="sha512-uWk2ZXl3GVrq6DZsrL5dSg1S/F3MNQ9VaDFigqXOoKUnWG58UxOuJGfTrzh5KjpoBvPiFniL2PahU2HUTFMJXw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="{{asset("assets/js/editUser.js")}}" ></script>
<script>
    const user = JSON.parse("{{ app.user  | serialize("json", { groups: 'user'})| nl2br }}".replace(/&quot;/g,'"').replace(/&#039;/g, "'"))
   
   signaturePad.fromDataURL(user.signature)
   document.querySelector("form").addEventListener("submit", function(event){
      document.querySelector("#user_signature").value = signaturePad.toDataURL()
   })
   
  </script>
{% endblock %}
