{% extends 'baseWithNav.html.twig' %}



{% block body %}
<h1>Liste des Activités</h1>
<a class="btn btn-primary " href="{{ path('category_add') }}">Ajouter une activité</a>

<table class="table  table-striped  table-sm align-middle">
  <thead>
    <tr>
      <th >Activité</th>
      <th >Description</th>
      <th >Liste des questions</th>
      <th>Mis à jour</th>
      <th >Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for category in categories %}
    <tr>
    <td>{{category.title}}</td>
    <td>
        {{category.description}}
        </td>
        <td>
        <ul>
        {% for field in category.fields %}
          <li>{{field.title}}</li>
        {% endfor %}
       
        </ul>
        </td>
        <td>
        {{ category.updatedAt |  date("d/m/Y H:i:s", "Europe/Paris")}}
        </td>

        <td>
        <a class="btn btn-sm btn-primary m-1" href="{{ path('category_edit', {'id':category.id}) }}">Modifier</a>
        <a class="btn btn-sm btn-danger m-1" href="{{ path('category_delete', {'id':category.id}) }}">Supprimer</a>
        </td>  
        </tr>
    {% endfor %}
  </tbody>
</table>
  
{% endblock %}
