{% extends 'baseWithNav.html.twig' %}

{% block stylesheets %}
<style>

form{
    max-height: 80vh;
}
</style>
{% endblock %}
{% block body %}

 {% set prototype = form_widget(form.appreciations.vars.prototype)%}
    {# <h2>Créer un bilan pour {{ user.nom |capitalize}} {{ user.prenom |capitalize}}</h2> #}
<div>
<h2>Nouveau Bilan pour {{ app.user.firstname }} {{ app.user.lastname }}</h2>
 <form  autocomplete="on" class="overflow-auto py-2" method="POST" onSubmit=sendBilan(event)>
   <table class="table table-striped overflow-auto table-light">
    {% for category in categories %}
        <tr><td colspan="4" class="fw-bold fs-4 text-center">{{category.title | upper}}</td></h3>
        {% for skill in category.skills %}
           <tr>
                <td class="col-4">
                <p class="fw-bold ">{{ skill.title | capitalize }}</p>
                <p>{{skill.description |nl2br}}</p>
                <td>
                <td class="eval">
                    {{ prototype | raw }}
                <input  class="d-none" id="statement_skill" name="statement[skill]" value={{skill.id}}>
                <td>
            </tr> 
        {% endfor %}

    {% endfor %}
  </table> 
<button class="btn btn-success">Valider Le bilan</button>

  </form>
  </div>    
    {# <a href="{{ path('statement_index') }}">back to list</a> #}
{% endblock %}
