{% extends 'baseWithNav.html.twig' %}

{% block stylesheets %}
<style>
@media print{
    header{
        display: none;
    }


}
</style>
{% endblock %}
{% block body %}
    <h2>Bilan du {{statement.createdAt |  format_datetime('short', 'none', locale='fr')}}</h2>
 <table class="table table-striped overflow-auto table-light">
    {% for category in categories %}
        <tr><td colspan="4" class="fw-bold fs-4 text-center">{{category.title | upper}}</td></h3>
        {% for skill in category.skills %}
           <tr>
                <td class="col-4">
                    <p class="fw-bold ">{{ skill.title | capitalize }}</p>
                    <p>{{skill.description |nl2br}}</p>
                <td>
                <td class="eval">
                    {% set appreciation = statement.appreciations | filter(e=>e.skill == skill) |first %}
                    <p><b>Niveau</b> : {{appreciation.level.title}}</p>
                    <p><b>Commentaire</b> : {{appreciation.comment }}</p>
                <td>
            </tr> 
        {% endfor %}

    {% endfor %}
  </table>

{% endblock %}
