   {% if is_granted('ROLE_ADMIN') %}
    
        {% for cat in catArray %}
    {% set currentFiles = employeeFiles | filter(e=>e.fileCategory == cat) %}
      {% if  currentFiles  %}
         <div class="filesCat">
          <p>Famille : {{cat == NULL ? "Non Classé" : cat | capitalize}}</p>
        
        <table class="table table-striped " data-pagination="true"  data-search="true"  data-locale="fr-FR" data-toggle="table" >

      
            <thead>
              <th class="col" data-sortable="true">Fichier</th>
              <th class="col"  data-sortable="true" >Ajouté par</th>
              <th class="col"  data-sortable="true" >Ajouté le</th>
            </thead>
            <tbody>
              {% for file in currentFiles %}
                            
                  <tr >

                 <td>
                  <div class="card p-2">
                  {{ ( file.fileUploadedName) | preview  | raw }}
                  <div class="card-body">
                    <p class="card-title"><strong>{{file.title}}</strong></p>
                    <p class="card-text">{{ file.description }}</p>
                      
                    <a href="../assets/vichFiles/{{ file.fileUploadedName }}" target="_blank" class="btn btn-primary btn-sm my-2">Visualiser</a>
                 {% if is_granted('ROLE_ADMIN') or file.user == currentUser %}
                    
                      <a href="{{ path('file_delete', {'id':file.id}) }}" class="btn btn-danger btn-sm">Supprimer</a>
                  
                  {% endif %}
                  </div>
                </div>
                 
                </td>
                  <td>{{ file.user.firstname }} <strong>{{ file.user.lastname }}</strong></td>
                  <td>{{ file.updatedAt |date("d/m/y") }}</td>
          
                </tr>
              {% endfor %}
            </tbody>
           </table>
           </div>

      {% endif %}
      {% endfor %}

   

  {% endif %}