{% extends 'baseWithNav.html.twig' %}
{% block stylesheets %}
 <link rel="stylesheet"  href="{{ absolute_url(asset('assets/css/files.css')) }}" />

{% endblock %}

{% block body %}

  <h2 >Bienvenue dans l'espace documentaire</h2> 
{% set fileCategories = adminFiles|reduce(
    (unique, item) => (item.fileCategory) in unique ? unique : unique|merge([(item.fileCategory) ]), []
) | sort((a,b)=>( a  < b))%}



  <div>
  <h3>Liste des fichiers mis à disposition</h3>

  {% for category in fileCategories %}
    <div class="fs-4 text-center text-primary">{{(category.name ?? "Non classé") | capitalize}}</div>
    <div class="row overflow-auto flex-nowrap">
         {% for file in adminFiles | filter(e=>e.fileCategory == category) %}
         {{ file | card | raw}}
        {% endfor %}
    </div>
    <hr>
  {% endfor %}
  <h3 class="mt-5">Mes Fichiers</h3>
     <div class="row overflow-auto flex-nowrap">
    {% for file in userFiles  %}
         {{ file | card | raw}}
        {% endfor %}
    </div>
    </div>


 
  <div class="form-group">
    <h3>Uploader un fichier</h3>
    {{ form_start(form, {'attr': {'class': 'fileForm'}} ) }}
    {{ form_widget(form.title, {'attr': {'class': 'form-control'}} ) }}
    {{ form_widget(form.description, {'attr': {'class': 'form-control'}} ) }}
    {{ form_widget(form.uploadedFile,  {'attr': {'class': 'form-control'}}) }}
    <div class="d-flex justify-content-between align-items-center">
    {{ form_widget(form.fileCategory,  {'attr': {'class': 'form-control form-select w-75'}}) }}
       {% if is_granted('ROLE_ADMIN') %}

            <a class=" d-block" href="{{ path('file_category_index')}}">Liste des catégories de document</a>
            {% endif %}
    </div>
        <button class="btn btn-success btn-block  " type="submit">Valider</button>
    {{ form_end(form) }}
 </div>


{% endblock %}

{% block javascripts %}


<script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.19.1/locale/bootstrap-table-fr-FR.min.js" integrity="sha512-8kjFsrFq1W+Hd4uBWB1OTqxloFC+PbxowJgAKvvqvyWiU+QenTxaItEaKcymTKTQIj7UY8o0K2a0r9liccCowg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{% endblock %}

