{% extends 'baseWithNav.html.twig' %}


{% block body %}
    <h1>Liste des motifs de congés</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Commentaire</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for holiday_reason in holiday_reasons %}
            <tr>
                <td>{{ holiday_reason.name }}</td>
                <td>{{ holiday_reason.comment }}</td>
                <td>
                    <a href="{{ path('holiday_reason_show', {'id': holiday_reason.id}) }}">Afficher</a>
                    <a href="{{ path('holiday_reason_edit', {'id': holiday_reason.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('holiday_reason_new') }}">Nouveau motif</a>
{% endblock %}
