{% extends 'base.html.twig' %}

{% block title %}HolidayReason index{% endblock %}

{% block body %}
    <h1>HolidayReason index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Comment</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for holiday_reason in holiday_reasons %}
            <tr>
                <td>{{ holiday_reason.id }}</td>
                <td>{{ holiday_reason.name }}</td>
                <td>{{ holiday_reason.comment }}</td>
                <td>
                    <a href="{{ path('holiday_reason_show', {'id': holiday_reason.id}) }}">show</a>
                    <a href="{{ path('holiday_reason_edit', {'id': holiday_reason.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('holiday_reason_new') }}">Create new</a>
{% endblock %}
