{% extends "base.html.twig" %}
{% set route_name = app.request.attributes.get('_route') %}
{% block stylesheets%}

{% endblock %}
{% block header %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand d-block" href="{{path("public")}}">
        <img src="{{asset("assets/img/logoHDT2.png")}}" >
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      {% if is_granted("ROLE_RH") %}
        <li class="nav-item">
          <a class="nav-link" href="{{ path('admin_rh')}}">accueil</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Outils RH
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li class="nav-item">
              <p>Bilans</p>
              <ul >
                  <li class="nav-item">
                  <a class="nav-link" href="{{ path('statement_index', {"id": app.user.id})}}">Liste des Bilans</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('appreciation_level_index')}}">Familles de compétences</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('appreciation_category_index')}}">Compétences</a>
                </li>
          
              </ul>
              <li><hr class="dropdown-divider"></li>
              <li class="nav-item ">
                <p>
                  Gestion des utilisateurs
                </p>
                <ul>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ path('user_index')}}">Liste des utilisateurs</a>
                  </li>
                  <li class="nav-item" >
                    <a class="nav-link" href="{{ path('admin_attendance_view')}}">Edition des emargements</a>
                  </li>
                </ul>
              </li>
              <li><hr class=" dropdown-divider"></li>
              <li class="nav-item">
                <p>
                  Autre
                </p>
                <ul>
                  <li class="nav-item">
                    <a class="nav-link  position-relative" href="{{ path('contact_index')}}" >Liste des messages
                    {{ messages > 0 ?  '<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">{{ messages }}  <span class="visually-hidden">unread messages</span></span>' : ""}}
                    </a>
                  </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{{ path('exutoire')}}">Exutoire</a>
                    </li>
                    </ul>
                    <li><hr class=" dropdown-divider"></li>
                  </li>
                </li>
              </ul>
            </li>
      {% endif %}
      {% if is_granted("ROLE_ADMIN") %}   <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_rh')}}">accueil</a>
          </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
               Administration
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <p>Utilitaires site</p>
            <ul>
              <li class="nav-item">
                <a class="nav-link" href="{{ path('collaboration_index')}}">Editer les Partenaires / Financeurs</a>
              </li>
              <li class="nav-item" >
                <a class="nav-link" href="{{ path('list_cache_files')}}">Vider les caches</a>
              </li>
        
            </ul>
            <li><hr class=" dropdown-divider"></li>
              <li class="nav-item ">
                <p>
                  Gestion des utilisateurs
                </p>
                <ul>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ path('user_index')}}">Liste des utilisateurs</a>
                </li>
                </ul>
              </li>
            </li>
          </ul>

      {% endif %}
      {% if is_granted('ROLE_EMPLOYEE') %}
          <li class="nav-item">
            <a class="nav-link" href="{{path('attendance')}}">emargements</a>
          </li>
      
          <li class="nav-item" >
            <a class="nav-link" href="{{ path('survey')}}">Suivi Activité</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('statement_index')}}">Mes Bilans</a>
          </li>

                       <li class="nav-item">
            <a class="nav-link" href="{{ path('holiday_index')}}">Congés</a>


          </li>
             
      {% endif %}

            {# Menu Commun #}
            <div class="border"></div>
            <li class="nav-item ">
              <a class="nav-link" href="{{ path('file_index')}}">Espace documentaire</a>
              </li>
            <li class="nav-item" >
              <a class="nav-link" href="{{ path('addressBook')}}">Carnet d'adresse</a>
            </li>
            {# Fin du menu commun #}
      </ul>
        </div>
        <div class="mx-2">
                {{ app.user | avatar | raw }}
        </div>
            <div class="connected_user">

              {# <a href={{path("user_view")}}> #}
                <div class="text-center">
                <div><b>{{app.user.firstname | upper}} {{app.user.lastname |upper}}</b></div>
                
                <div class="bg-dark text-center text-light p-2 rounded"  >
                <small>{{app.user | role}}</small>
                </div>
              {# </a> #}
              <div>
                <a href="{{ path('app_logout') }}" class="text-danger" >Se déconnecter</A>
              </div>
            </div>
    </div>
  </nav>
{% endblock %} 



{% block javascripts %}

<script src="{{asset("assets/js/global.js")}}" ></script>

{% endblock %}
