{% set categories = fileUploads |map(f=>f.fileCategory) | reduce(
    (unique, item) => item in unique ? unique : unique|merge([item]), []
)%}
Liste des categories : 
{% for category in categories %}
<a href="#{{category | fileCategory|replace({' ':  ""})}}">{{category | fileCategory}}</a> |
{% endfor %}

{% for category in categories %}
    <div class="mx-1 my-2 p-1 border bg-light" id="{{category | fileCategory|replace({' ':  ""})}}" >
        <h5>{{ category | fileCategory }}</h5>
        <div class="d-flex flex-wrap justify-content-around">
        {% for file in fileUploads | filter(f=>f.fileCategory == category) %}
        {{ file | card | raw}}
  
        {% endfor %}

        </div>
    </div>
{% endfor %}

<div>

</div>