<li class="">
    {% if not is_granted("ROLE_EMPLOYEE") %}
    <h3 class="text-end">
        
    <a data-toggle="tooltip" href=" {{ path("postIt_delete", {id: postIt.id })}} " data-placement="top" title="Supprimer le pense bête"> <i class="fa-solid fa-xmark"></i></a>
    </h3>
    {% endif %}
    <h4>le {{ postIt.createdAt | format_datetime("short", "short", locale='fr') }}</h4>
    <h5>par {{ postIt.createdBy.firstname }} {{ postIt.createdBy.lastname }}</h5>
    <p>{{ postIt.content }}<p>
</li>