
{# {{ dump(statements)}} #}
{% if statements %}
 {# <h2>Bilan du {{statement.createdAt |  format_datetime('short', 'none', locale='fr')}}</h2> #}

 <table class="table table-striped overflow-auto table-light table-bordered">
 <thead >
     <tr >
    <th></th>
            {% for statement in statements %}
        <th class="fw-bold fs-5">
        Bilan du {{ statement.createdAt |    format_datetime('short', 'none', locale='fr')}}
        </th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for category in statementCategories %}

        <tr style="border-top: 2px solid black;">
        <td  class="fw-bold fs-4 ">{{category.title | upper}} </td>

               {% for statement in statements %}
                    <td class="graph" data-category = "{{category.id}}"  style="width: 200px;">
                  {# {% for level in levels %}
                   
                    {{ level.title}} : {{ statement.appreciations | filter(e=>e.level == level) | length }}
                  {% endfor %} #}
                    </td>
                {% endfor %}
{# colspan="{{statements | length + 1}}"  #}
         {% for skill in category.skills %}
           <tr>
                <td class="w-25">
                    <p class="fw-bold ">{{ skill.title | capitalize }}</p>
                    <p>{{skill.description |nl2br}}</p>
                </td>
                {% for statement in statements %}
                    <td>
                         {% set appreciation = statement.appreciations | filter(e=>e.skill == skill) |first %}
                         {% if appreciation %}
                            <p><b>Niveau</b> : {{appreciation.level.title}}</p>
                            <p><b>Commentaire</b> : {{appreciation.comment }}</p> 
                        {% endif %}
                    </td>
                {% endfor %}
      
            </tr> 
        {% endfor %} 
    
    {% endfor %}
    </tbody>
  </table> 

{% else %}
    <p>l'utilisateur.rice n'a pas encore de bilan</p>
{% endif %}
{% if user is defined %}
<a href="{{ path('statement_new', {id: user.id}) }}">Nouveau Bilan pour <strong>{{user.firstname}} {{user.lastname}}</strong> </a>
{% endif %}