
    {% if surveys | length > 0 %}
        <table class="table table-striped">
            <thead>
                <th>Date</th>
                <th>Organisme</th>
                <th>Contact</th>
                <th>Commentaire</th>
                <th>Moyen</th>
            </thead>
            <tbody>
                {% for survey in surveys %}
                    <tr>
                        <td>{{ survey.createdAt | date("d/m/Y", "Europe/Paris") }}</td>
                        <td>
                            <b>{{ (survey.addressBook.companyName  ?? "") | upper }}</b>
                        </td>
                        <td>{{ survey.contact }}</td>
                        <td>{{ survey.comments }}</td>
                        <td title="{{ survey.way }}">
                        {{ survey.way | icon | raw }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
    <p>l'utilisateur.rice n'a pas encore effectué de démarches</p>
    {% endif %}

