{% extends 'baseWithNav.html.twig' %}
{% block stylesheets %}
<style>
main img{
height: 300px;
object-fit: contain;
}

main div{
    border: 0;
}

main input, main select{
    min-width: 500px;
    text-align: center;
}

main form label, main form a{
    width: 300px;
    display: block;
    padding: 10px;
    margin: 0 10px;
    color: white; 
    text-decoration: none;
    border-radius: 5px;
    background: #a5b1b0;
    text-align: center;
}
</style>
{% endblock %}

{% block body %}
    {# <h1 class="text-center">{{ collaboration.name }}  #}
    <img src={{asset("assets/img/collaboration/") ~ collaboration.logo }} class="m-auto d-block rounded">
    {# </h1> #}
    
    {{ include('admin/collaboration/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('collaboration_index') }}">Revenir à la liste</a>

    {{ include('admin/collaboration/_delete_form.html.twig') }}
{% endblock %}
