{% extends 'baseWithNav.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset("assets/css/adminAttendances.css")}}"/>

{% endblock %}
{% block body %}
    <select name="users" id="users" class="form-control">
    <option value="">--Merci de choisir un salarié--</option>
    {% for user in users %}
        <option value="{{user.id}}" data-signature="{{user.signature}}">{{user.firstname}} {{user.lastname}}</option>
    {% endfor %}
    </select>

    {% set months = (attendances | map(a=>a.createdAt |date("m/Y"))) | reduce(
        (unique, item) => item in unique ? unique : unique|merge([item]), []
    )%}
    <div class="monthButtons d-flex justify-content-center flex-wrap">
        {% for month in months %}
            <button class="btn btn-primary btn-block m-2" value="{{month}}">{{ month }}</button>
        {% endfor %}

    </div>

    <table class="table d-none table-bordered">
        <thead>
            <th scope="col">Date</th>
            <th scope="col">Heure</th>
            <th scope="col">Signature</th>
        </thead>
        <tbody>
        </tbody>
    </table>
{% endblock %}
{% block javascripts %}


<script>
const path = "{{path("admin_get_attendances")}}";
</script>
        <script src={{ asset("assets/js/adminAttendances.js") }}></script>

{% endblock %}
