{% extends "baseWithNav.html.twig" %}
{%  block stylesheets %}
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.css">
    {# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/TableExport/5.2.0/css/tableexport.css" integrity="sha512-+m+NCQG6uttXsLjwxHTUdhov99LW3TSFEiM2LSFMwfOePszb2as348/96cCBG35mOK+3Gp4P0EQRWpKLZfGTnA==" crossorigin="anonymous" referrerpolicy="no-referrer" /> #}
{% endblock %}
{% block body %}
    <div>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
</div>

  {% set postItsRemember = app.user.postIts  | filter(e=>e.category == "remember" )%}
<pre>
    {{ dump(app) }}
</pre>
    {% if postItsRemember %}
        <div class="postIt d-flex justify-content-around flex-wrap">
            {% for postIt in postItsRemember %}
             {{ include("admin/rh/postItView.html.twig")}}
            {% endfor %}
        </div>
    {% endif %}

    {% if is_granted('ROLE_EMPLOYEE') %}

        <div class="text-center">
            <button class="btn btn-danger btn-lg attendanceButton my-2"><p>Emmarger</p><p class="badge "> L'emmargement engage votre responsabilité. Tout abus sera sanctionné.</p></button>
        </div>
    {% endif %}
    <div  > 
    <table 
        class="table table-striped" 
         id="table"
        data-toggle="table"
        data-pagination="true"
         data-search="true" 
        >
        <thead>
            <tr>
                <th data-field="createdAt" data-sortable="true">Date</th>
                <th>Emmargement</th>
                <th>Signature</th>
                <th>Temps de présence</th>
                {% if is_granted('ROLE_RH') %}
                    <th>Action</th>
                {% endif %}
            </tr>   
        </thead>
        <tbody>
            {% set days = [] %}

            {% for att in attendances  | reverse %}
                {% set currentDay = att.createdAt | format_datetime('short', 'none', locale='fr') %}
                {% set day = attendances | filter(att=> att.createdAt |format_datetime('short', 'none', locale='fr') == currentDay )%}
                {% for attendance in day %} 
                    {% if not (attendance.createdAt | format_datetime('short', 'none', locale='fr')  in days) %}
                        {% set days = days | merge ([currentDay]) %} 
                        <tr>
                            <td class="fs-2 align-middle">{{ currentDay }}</td>
                            <td>
                                {% for time in day  %}
                                <div style="height:8rem; " class="d-flex flex-column justify-content-center" >
                                    <div>{{time.createdAt |format_datetime('none', 'short', locale='fr') }} 
                                        {% if not (time.addedBy.id == app.user.id)  %}
                                            (enregistré par {{time.addedBy}})
                                        {% endif %}
                                    </div>
                                </div>
                                {% endfor %}
                            </td>
                            <td style="height:8rem; width: 8rem">
                                {% for time in day  %}
                                {% if user.signature  %}
                                <div  class="border"><img style="height:8rem;" src="{{ user.signature}}"></div>
                                {% endif %}
                                {% endfor %}
                            </td>
                            <td  class="align-middle fs-5">
                                {% set counter = 0 %}
                                {% if day | length > 1  %}
                                    {% set times = day | reverse | map(e=>e.createdAt | format_datetime('none', 'short', locale='fr') ) %}
                                    {% for i in range(0, times |length ,2) %}
                                        {% if i+1 < times | length %}
                                            {% set hours = times | slice(i, 2) | map (t=> t | split(':') [0]) %}
                                            {% set mins = times| slice(i, 2)  | map (t=> t | split(':') [1  ]) %} 
                                            {% if hours | length > 0 and mins | length > 0 %}
                                                {% set total =  (hours[0] - hours[1]) * 60 + (mins[0] - mins[1])  %}
                                                {% set counter = counter + total %}
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    {{ (counter / 60) | round(0, 'floor') }} h {{ "%02d"|format((counter - ((counter / 60) | round(0, 'floor'))*60) ) }}

                                    {% else %}
                                        ---
                                {% endif %}
                            </td>
                            {% if is_granted('ROLE_ADMIN') %}
                                <td>
                                    {% for time in day  %}
                                        <div style="height:8rem;"  class="d-flex flex-column justify-content-center" >
                                            <a href="{{path('attendance_delete', {'id': time.id})}}" class="btn btn-danger btn-sm ">Supprimer</a>
                                        </div>
                                    {% endfor %}
                                </td>

                            {% endif %}
                        </tr>
                    {% endif %}
                {% endfor %} 
            {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_RH') %}

        {# {% include '/attendance/calendar.html.twig'%} #}
    {% endif %}
</div>
{% endblock %}
{% block javascripts%}
    <script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.19.1/locale/bootstrap-table-fr-CH.min.js" integrity="sha512-oMiFbd095KmJ9vWK5N/MhFffDzK0WT1bflfwdLkpnQTQFiL/SGo7p+ivb9tPwT2wrLGZhj1+/saaUt+NprpMgA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    {% if is_granted('ROLE_EMPLOYEE') %}
        <script src={{ asset("assets/js/attendance.js") }}></script>
    {% endif %}
</div>
{% endblock %}
