{% extends 'baseWithNav.html.twig' %}
{% block stylesheets %}
<link href="{{asset("assets/css/users.css")}}" rel="stylesheet"/>
{% endblock %}

{% block body %}
<h2>Listes de utilisateurs</h2>
<a class="btn btn-primary " href="{{ path('user_add') }}">Ajouter un utilisateur</a>
{% set roles = {"salariés": employees, "anciens salariés": haveLeave, "administrateurs": admins, } %}

{% for role in roles|keys %}
<h3>Liste des {{role }}</h3>
<div class="d-flex justify-content-around flex-wrap">
   {% for user in roles[role]  %}
    <div class="card  text-center">
 {{ user | avatar |raw}}
        <div class="card-body">
          <h5 class="card-title"><a href="{{path("user_view", {id: user.id})}}">{{ user.firstname}} {{user.lastname }}</a></h5>
          <p class="card-text">
          Inscrit depuis le : {{ user.createdAt | date("d/m/y")}}
          </p>
           <p class="card-text">
          Nom d'utilisateur : {{ user.username}}
          </p>
          {% if user.roles | filter(e=> e == "ROLE_EMPLOYEE") | length > 0%}
             <p class="card-text"><small>
              Dernier emargement :  <a href="{{ path('attendance', {'id':user.id}) }}">  {{ user.getAttendances() | length > 0 ? user.getAttendances() | map(e=>e.createdAt) | last | date("\\l\\e d/m/y à h:i"): "Pas d'emargement" }}</a>
          </small>
          </p>
        {% endif %}
        </div>
</div>

{% endfor %}
</div> 

{% endfor %}

<div>

</div>

  
{% endblock %}
